### Basic Data Structure in Python

1) Tuple
2) List
3) Dictionary
4) Set

### 1 -Tuple
- Ordered collection of elements
- enclosed in () round braces/ parenthesis
- Different kind of elements ca be stored
- Once elements stored, you can't change elements (Unmutatable)

In [5]:
tuple = (1,"python","khan", True, 2.5)
tuple

(1, 'python', 'khan', True, 2.5)

In [6]:
tuple[0]

1

In [7]:
tuple[1]

'python'

In [8]:
tuple[0:5]

(1, 'python', 'khan', True, 2.5)

In [9]:
tuple[-1]

2.5

In [10]:
type(tuple)

tuple

In [11]:
len(tuple)

5

## We can add two tuple

In [12]:
tuple1 =("kda","Kohat","College")
tuple1

('kda', 'Kohat', 'College')

In [13]:
tuple + tuple1

(1, 'python', 'khan', True, 2.5, 'kda', 'Kohat', 'College')

### We can multiply a tuple

In [14]:
tuple*2+tuple1

(1,
 'python',
 'khan',
 True,
 2.5,
 1,
 'python',
 'khan',
 True,
 2.5,
 'kda',
 'Kohat',
 'College')

### Minimum and Maximum value in tuple

In [15]:
tuple3 = (1,5,7,2,9)
min(tuple3)

1

In [16]:
max(tuple3)

9

---

### List
- ordered collection of elements
- enclose in [] square brackets
- mutateable, you can change and replace the elements in list

In [17]:
list1 = [1,"khan",True,2.0]
list1

[1, 'khan', True, 2.0]

In [18]:
list1*2

[1, 'khan', True, 2.0, 1, 'khan', True, 2.0]

In [19]:
list2=["college",2]
list2

['college', 2]

In [20]:
list1 +  list2

[1, 'khan', True, 2.0, 'college', 2]

In [21]:
list1.append("Aurang Zeb ")
list1

[1, 'khan', True, 2.0, 'Aurang Zeb ']

In [22]:
list2

['college', 2]

In [23]:
list1

[1, 'khan', True, 2.0, 'Aurang Zeb ']

### How to reverse a list

In [24]:
list1.reverse()
list1

['Aurang Zeb ', 2.0, True, 'khan', 1]

### How to count a specific element in python

In [25]:
list4 = [2,3,4,5,2,5]
list4.count(2)

2

### How to sort an array

In [26]:
list5 = [4,8,9,7,2,8]
list5.sort()
list5

[2, 4, 7, 8, 8, 9]

# 3- Dictionary

- an unordered collection of elements
- Key and value
- curly braces or brackets
- Mutateable

In [27]:
# food dictionary
dic1 = {"tomato":200 , "Raita":20, "onion":200,"bean":50}
dic1

{'tomato': 200, 'Raita': 20, 'onion': 200, 'bean': 50}

In [28]:
dic1.keys()

dict_keys(['tomato', 'Raita', 'onion', 'bean'])

In [29]:
dic1.values()

dict_values([200, 20, 200, 50])

In [30]:
dic2 = dic1.copy()
dic2

{'tomato': 200, 'Raita': 20, 'onion': 200, 'bean': 50}

In [33]:
dic2["rice"] = 230
dic2

{'tomato': 200, 'Raita': 20, 'onion': 200, 'bean': 50, 'rice': 230}

In [34]:
# updating in dictionary
# rice price will be updated from 230 to 100 in dictionary
dic2["rice"] = 100
dic2

{'tomato': 200, 'Raita': 20, 'onion': 200, 'bean': 50, 'rice': 100}

In [39]:
# Concatenation is totally different in dictionary
dic1

{'tomato': 200, 'Raita': 20, 'onion': 200, 'bean': 50}

In [40]:
dic2

{'tomato': 200, 'Raita': 20, 'onion': 200, 'bean': 50, 'rice': 100}

In [42]:
dic2.update(dic1)
dic2

{'tomato': 200, 'Raita': 20, 'onion': 200, 'bean': 50, 'rice': 100}

### - Set in python
- Unordered and unidexed
- Curly braces are use {}
- No duplicates are allowed
- {Ture,False} will not be sored in sets
- Only digit and strings or characters will be stored there

In [45]:
s1 = {1,2,3,"Aurang Zeb ","Khan"}
s1

{1, 2, 3, 'Aurang Zeb ', 'Khan'}

In [46]:
type(s1)

set

In [49]:
s1.add(7)

In [51]:
s1

{1, 2, 3, 7, 'Aurang Zeb ', 'Khan'}

In [58]:
s1.clear()
s1

set()

In [67]:
s1.add(7)
s1

{7, 'Aurang Zeb Khan'}

In [68]:
s1.add("Aurang Zeb Khan")
s1

{7, 'Aurang Zeb Khan'}

In [69]:
# give item name, that will be removed from the set
s1.remove(7)
s1

{'Aurang Zeb Khan'}